<!DOCTYPE html>
<html>
  <head>
    <title>Unit 2 Assessment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>To Do List</h1>
    <h3>There are no To Dos yet!</h3>
    <ul>
        <li>
            <form action="/todos/" method="POST">
              <button type="submit">Add a To Do</button>
            </form>
        </li>
    </ul>
    <a href="/todos/new">Add To Do</a>
  </body>
</html>
